* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background: rgb(21, 21, 21);
}

.header-container { 
    height: 300px;
    background: url(../images/pattern-bg.png) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container h1 {
    color: white;
    margin: 20px;
    font-size: 1.8em;
}

.search-box {
    width: 65%;
    display: flex;
}

#ip, .search-box button {
    height: 50px;
    border: none;
    outline: none;
}

#ip {
    width: 85%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding-left: 20px;
    font-size: 1.2em;
}

.search-box button {
    width: 15%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background: url(../images/icon-arrow.svg) no-repeat;
    background-position: center;
    background-color: black;
}

.ip-info-box {
    width: 65%;
    margin-top: 20px;
    background: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.ip-info-item {
    list-style: none;
    margin: 30px;
    text-align: center;
}

.ip-info-item-title {
    color: hsl(0, 0%, 59%);
    margin-bottom: 8px;
    font-size: .7em;
    font-weight: bold;
    letter-spacing: 1px;
}

.ip-info-item-value {
    font-size: 1.4em;
    font-weight: bold;
}

#mapid { 
    height: 500px;
    z-index: 1;
}

@media (min-width: 1080px) {
    .search-box {
        width: 40%;
        margin: 30px;
    }

    .ip-info-box {
        width: 70%;
        height: 140px;
        margin-top: 20px;
    }

    .ip-info-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .ip-info-item{
        margin: 0;
        padding-left: 15px;
        padding-right: 60px;
        text-align: left;
        border-right: 1px solid rgba(230,230,230); 
    }

    .ip-info-item:last-child {
        border-right: none;    
    }
}